<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Question Bank Management Console</title>
</head>
<body>
    <header th:insert="header.html :: header"> </header>
    <div align="center" class="jumbotron vertical-center mx-5 my-5">
        <h2>Question Bank Management Console</h2>
            <div class="container">
                <a href="category" class="btn btn-dark btn-lg my-5">Show all categories</a>
            </div>
            <div class="container">
                <a href="questions" class="btn btn-dark btn-lg my-5">Show all questions and answers</a>
            </div>
    </div>
</body>
</html>